html, body, * {
  cursor: none !important;
}
body{
 margin: 0;
 
 
}

.cursor-in{
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  position: fixed;
  transition: duration 200ms ;
  transition-timing-function: ease-in-out;
  animation: cursorAnim 5s infinite alternate;
  box-shadow:
    0 0 15px rgb(175, 175, 175),
    0 0 25px rgba(110, 110, 110, 0.9),
    0 0 45px rgba(22, 22, 22, 0.7);
  z-index: 9999;
  pointer-events: none;
}
.cursor-in::after{
  margin: auto;
  content: '';
  position: absolute;
  top: -8;
  left: -8;
  width: 100%;
  height: 100%;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
  animation: cursorAnim2 1.5s infinite alternate;
  pointer-events: none;
}

.click{
  animation: cursorAnim3 1.5s forwards;
  border: 1px solid #ffebb4;
}
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
    opacity: 2;
  }
  100% {
    transform: scale(1.5);
    opacity: 3;
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
    opacity: 2;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 2;
  }
}



#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7eccb;
  z-index: 9999;
}

/* Loading Text */
.loading-text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
   color: #ffffff;
  
}

/* Outer Bar */
.loading-bar {
  width: 300px;
  height: 25px;
  border: 3px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

/* Progress */
.loading-progress {
  height: 100%;
  width: 0%;
  background: #ffffff;
  border-radius: 20px;
  animation: loading 3.3s infinite;
}

/* Smooth Animation */
@keyframes loading {
  0% { width: 0%; }
  100% { width: 100%; }
}